# WhatsApp Bot Configuration
WHATSAPP_TOKEN=
PHONE_NUMBER_ID=
WEBHOOK_VERIFY_TOKEN=
PORT=3000

# Meta Graph API
GRAPH_API_URL=
# MongoDB Configuration
MONGODB_URI=
MONGODB_DATABASE=

DB_NAME=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# OpenAI Configuration (for Voice Transcription)
OPENAI_API_KEY=

# Google Cloud Speech-to-Text Configuration
GOOGLE_APPLICATION_CREDENTIALS=

# Google Gemini AI Configuration
GEMINI_API_KEY=

# Google Gemini Translation API Configuration
GEMINI_TRANSLATION_API_KEY=
# Didit Verification Configuration
DIDIT_API_KEY=
DIDIT_WORKFLOW_ID=
BASE_URL=http://localhost:3000

# Classification API Configuration
CLASSIFICATION_API_URL=http://localhost:8000/classify

# Query API Configuration (RAG)
QUERY_API_URL=http://127.0.0.1:8000/query

# Email Configuration (Gmail)
# Get App Password from: https://myaccount.google.com/apppasswords
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=