fastapi==0.110.2
uvicorn[standard]==0.23.2
transformers==4.44.2
torch>=2.0.0
spacy==3.7.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
python-multipart==0.0.6
regex==2024.6.14
